.place__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    margin: 0;
    transition: transform 0.7s;
}

.place__image:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 426px) {
    .place__image {
        width: 100%;
        height: 300px;
        display: block;
        overflow: hidden;
        margin: 0;
        transition: all 1s ease;
    }
}
