.quotes-title {
  display: flex;
  flex-direction: row;
  max-width: 450px;
  margin: 30px 70px 20px;
  text-align: left;
  line-height: 1.15;
  font-size: 35px;
  font-weight: 600;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 769px) {
  .quotes-title {
      margin: 15px 70px 0px;
      transition: all 1s ease;
  }
}

@media screen and (max-width: 426px) {
  .quotes-title {
    max-width: 100%;
    margin: 10px auto 0;
    text-align: center;
    line-height: 1.1;
    font-size: 25px;
  }
}