.quotes-title {
  display: flex;
  flex-direction: row;
  max-width: 450px;
  margin: 30px 70px 20px;
  text-align: left;
  line-height: 1.15;
  font-size: 35px;
  font-weight: 600;
  justify-content: flex-start;
  align-items: flex-start;
}