.header__form {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #000;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

.header__form:hover {
    text-shadow: -2px 2px 3px #fecca7;
    opacity: 0.8;
}

@media screen and (max-width: 426px) {
    .header__form {
        font-size: 20px;
        line-height: 30px;
    }
}