.place {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 535px;
    gap: 0;
    margin: 0;
    overflow: hidden;
}

@media screen and (max-width: 426px) {
    .place {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 10px;
    }
}