.footer {
    display: flex;
    width: 100%;
    min-height: 621px;
    background: #fecca7;
}

@media screen and (min-width: 1281px) {
    .footer {
        max-width: 1280px;
        margin: auto;
    }
}