.intro__title {
    font-weight: bold;
    font-size: 33px;
    line-height: 45px;
    text-align: left;
    color: #000;
    word-spacing: 1.5px;
    letter-spacing: 1px;
    margin: 30px 0 0 0;
}

@media screen and (max-width: 426px) {
    .intro__title {
        font-size: 25px;
        line-height: 35px;
        margin: 15px 0 0 0;
    }
}
